/*mapas*/

$mapas:(
    /*key-valor*/
    bg-mapas:nth($list: $colores, $n: 7),
    padding-mapas:10px,
    border-mapas:10px,
);

.mapas{
  
    padding-top: map-get($map: $mapas, $key:padding-mapas);
    border-radius: map-get($map: $mapas, $key:border-mapas);
}

$ubicanos:(
    color-ubicanos: rgb(246, 246, 251),
    font-ubicanos:bold,
    text-ubicanos:center,
    marginup-ubicanos:1px,
);
.ubicanos{
    color:map-get($map: $ubicanos, $key:color-ubicanos);
    font-weight: map-get($map:$ubicanos , $key:font-ubicanos);
    text-align: map-get($map: $ubicanos, $key:text-ubicanos);
    margin-top: map-get($map: $ubicanos, $key:marginup-ubicanos );
}