// Estilos main
/*Tocando estilos cartas en main*/
body{
    main{
        .container{
            h2{
                color: antiquewhite;
             }
            .somos{
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
                color: azure;
                font-style: italic;
                font-weight: bold;
                margin-top: 80px;
                margin-bottom: 25px;
                text-align: center;
                 }
           .productosGrid{
            display: grid;
            grid-template-columns: auto auto auto ;
            justify-content:space-between;
                .img2{
                    padding-bottom: 5%;
                    padding-top: 5%;
                    padding-left: auto;
                    padding-right: auto;
                }
                .img3{
                    padding-top: 1%;
                }
                .img4{
                    padding-top: 5%;
                }
                .img5{
                    padding-top: 5%;
                }
                 }
              }
    }
}