// Variables para el body, header y footer//
$color-Foot: rgb(255, 255, 255);
$text-align:center;
$background-heafoot: linear-gradient(90deg, rgba(43,66,210,1) 5%, rgba(165,165,196,1) 47%, rgba(201,2,13,1) 100%);
$fontheafoot:Lucida 'Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,;
$background-body:rgb(0, 0, 0);

